    .box {
      position: relative;
      width: 100%;
    }

    .photo {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
    }

    .box:hover .overlay {
      opacity: 0.8;
    }

    .plus {
      color: white;
      font-size: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .icon-bar {
      position: fixed;
      top: 20%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .icon-bar a {
      display: block;
      text-align: center;
      padding: 7px;
      margin-left: 10px;
      margin-bottom: 5px;
      border-radius: 2px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
    }

    .icon-bar a:hover {
      background-color: #000;
    }

    .facebook {
      background: #3B5998;
      color: white;
    }

    .twitter {
      background: #55ACEE;
      color: white;
    }



    .linkedin {
      background: #007bb5;
      color: white;
    }
